body {
    background-color: #000033;
}

header {
    height: 100px;
}

header h1 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: header;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes header {
    from {
        padding-bottom: 50px;
    }
    to {
        padding-bottom: 0;
    }
}