body {
    background-color: #000033;
}

header {
    height: 100px;
}

header h1 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: header;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes header {
    from {
        opacity: 0;
        padding-bottom: 50px;
    }
    to {
        opacity: 1;
        padding-bottom: 0;
    }
}

.card {
    width: 500px;
    height: 70px;
    border-top: solid #666666 3px;
    border-bottom: solid #666666 3px;
    border-radius: 5px;
    background-color: rgba(88, 88, 88, 0.6);
    margin-top: 20px;
    opacity: 0;
    animation-name: card-reveal;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.card:nth-child(2) {
    animation-delay: 1s;
}

.card:nth-child(3) {
    animation-delay: 1.5s;
}

.vr-name {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 2px;
}

.card button {
    width: 70px;
    height: 30px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background-color: #00ff00;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 5px;
}

@keyframes card-reveal {
    from {
        opacity: 0;
        margin-left: 100px;
    }
    to {
        opacity: 1;
        margin-left: 20px;
    }
}

.free {
    margin-top: 100px;
    opacity: 0;
    animation-name: card-reveal;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

p {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    width: 500px;
}

button {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    background-color: #555555;
    border: solid 2px #000000;
}

.vr {
    height: 80px;
    width: 200px;
    background-color: #aaaaaa;
    border: solid 10px black;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

video {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    filter: brightness(50%);
}

.warn-wrapper {
    opacity: 0;
    background-color: rgba(255, 88, 0, 0.5);
    margin-left: 10px;
    margin-top: 20px;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    border-top: #ff6600 solid 3px;
    border-bottom: #ff6600 solid 3px;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.warn {
    color: #ff6600;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

@keyframes muhosransk {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}